@font-face {
font-family: 'helvetica-neue';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue LT Std 45 Light'), url('HelveticaNeueLTStd_Lt.woff') format('woff');
}

@font-face{
font-family: 'Helvetica Neue LT Std 45 Light';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue LT Std 45 Light'), url('HelveticaNeueLTStd Lt.woff') format('woff');
}

body{
    background-color: #FB7B3E !important;
    font-family:'helvetica-neue';
    font-weight:normal;
    font-size:42px
}

#main_page{
  text-align: center;
  margin-left: 1%;
  margin-top: 3%
}

.fontello-icon{
  font-family:'fontello' !important;
  font-weight:normal;
}
