@font-face {
font-family: 'helvetica-neue';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue LT Std 45 Light'), url('HelveticaNeueLTStd_Lt.woff') format('woff');
}

@font-face{
font-family: 'fontello';
font-style: normal;
font-weight: normal;
src: local('fontello'), url('fontello.woff') format('woff');
}

body{
    /*background-color: #FB7B3E !important;*/
    background-image: url("os-x-10.11-wallpaper.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    font-family:'helvetica-neue';
    font-weight:normal;
    font-size:42px
}

#main_page{
  text-align: center;
  margin-left: 1%;
  margin-top: 3%
}

#git_ico:before{
  content: "\E801 ";
  font-family:'fontello' !important;
  font-weight:normal;
  font-size:22px;
}

#twitter_ico:before{
  content: "\E807 ";
  font-family:'fontello' !important;
  font-weight:normal;
  font-size:22px;

}
.to-go-dev{ font-size: 15px !important }

.text-title{
  color: white;
}

.col-md-6{
  font-size: 15px
}
#code-grid{
  width: 60%;
  margin: auto;
  font-size: 18px;

}

.col-md-4{
  outline-color: black;
  outline: solid;
  outline-width: thin;
}

.table{
  width: 60%;

  margin: auto;
  text-align: center;
}
th{
  font-size: 18px;
  background-color: #428bca !important;
  opacity: 0.9;
}

.success{
  background-color: #5cb85c !important ;
  opacity: 0.9;
}
.successOK:after{
  font-family: 'fontello';
  content: '\E80F';
}
td,tr,th{
  text-align: center;
  background-color: inherit;
}
td{
  background-color: inherit;
  color: white;
  font-size: 18px;
}

.working{
    background-color: #f0ad4e !important ;
    opacity: 0.9;
}
